*{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.container{
			height: auto;
			width: 100%;
			background-color:#eee;
			clear:both;
			margin-left:0px;
			padding-left:0px;
			}
.open{
	float:left;
	margin-left:20px;
	margin-top:10px;
	color:#444;
}
.open:hover{
	color:teal;
}
.side_nav{
	border:1px solid lightblue;
	border-bottom-right-radius:20px;
	height:90%;
	width:250px;
	position:fixed;
	background-color:white;
	overflow-x: hidden;
}
.side_head{
	height:87%;
	width:250px;
	overflow-x: hidden;
	padding-top:80px;
	
}
.side_head ul li {
	border-top:1px solid #555;
}
.side_head ul li:last-child{
	border-bottom:1px solid #555;
}
#closebtn{
	margin-left:200px;
	background-color:teal;
}
.side_head a{
	padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: teal;
    display: block;
}
.side_head a:hover:not(active){
		color:black;
}
.side_head a:hover:active{
		color:#333;
}
.side_foot{
	height:13%;
	border-bottom-right-radius:20px;
	background-color:#333;
}
.media{
	color:green;
}
.media:hover{
	color:teal;
}
.side_foot p{
	text-align:center;
	padding-top:0px;
	color:white;
}

.header{
		height:110px;
		width:100%;
		background-color:#eee;
		margin-left:0px;
		position:fixed;
		top:0px;
		z-index:16;
}
.head1{
		font-family:impact;			
		color:teal;
		height:110px;
		width:15%;
		font-size:40px;
		text-align:center;
		margin-top:0px;
		margin-left:80px;
		}
.head2{
		font-family:Lucida handwriting;
		font-weight:bold;
		width:39%;
		text-align:center;
		font-size:20px;
		margin-left:120px;
		top:80px;
		}
.top{
	height:110px;
	width:1095px;
	float:left;
	top:0px;
	margin-left:250px;
	position:fixed;
	overflow:hidden;
}
.top_nav{
			height:55px;
			margin-left:250px;
			width: 800px;
			position:fixed;
			top:20px;
}
.top_nav ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow:hidden;
			}
.top_nav ul li{
	
				display:inline;
				float:left;
			}
.top_nav ul li a{
				display:block;
				color:#444;
				font-size:17px;
				text-align:center;
				padding:14px 30px;
				text-decoration:none;								
			}
.top_nav ul li a:hover:not(active){
								color:teal;
}

.signupbtn{
		border:3px solid lightblue;
		border-radius:20px;
		width:400px;
		background-color:white;
		padding:10px;
		position:fixed;
		overflow-x: hidden;
}
.loginbtn{
		border:3px solid lightblue;
		border-radius:20px;
		width:400px;
		background-color:white;
		padding:10px;
		position:fixed;
		overflow-x:hidden;
}
.form-group{
	color:teal;
}					
.sup{
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}
.log_in{
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.glyphicon glyphicon-user:hover .sup{
    display: block;
}
.glyphicon glyphicon-log-in:hover .log_in{
    display: block;
}
.search_container{
		float:;
		margin-left:350px;
		width:430px;
		height:55px;
		padding:10px 5px;
}
.form-control{
	float:left;
	width:370px;
	border-radius:20px;
}
.input-group-btn{
	float:left;
}
.main{
		height:auto;
		border:2px solid #444;
		width:1349px;
		margin:0px auto;
		margin-top:110px;
		background-color:#F5F5F5;
		z-index:15;
		
}
.main1{
	background-color:black;
}
.top_side{
			height:100%;
}
.carousel{
    background: #2f4357;
}
.carousel .item{
    min-height: 400px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
	margin: 0px;
}
.bottom_side{
	height:auto;
	padding: 0px;
}
.bottom_side h2{
	text-align:center;
	color:white;
	font-weight:bold;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 210px;
	background-color:#ccc;
	
	
}

div.gallery:hover {
    border: 1px solid #444;
	border-radius:10px;
	background-color:white;
}

div.gallery img {
    width: 100%;
    height: 300px;
	
}

div.desc {
    padding: 5px;
    text-align: center;
	color:black;
}
* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 15.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.main2{
	border:4px solid #f5f5f5;
	border-radius:30px;
	height:1294px;
	margin-top:5px;
	width:90%;
	margin: 0px auto;
	background-image:url(back2.jpg);
}
.left_side{
			float:left;
			width:830px;
			margin-top:0px;
			top:px;
		}
.right_side{
				float:left;
				width:370px;
				border-radius:25px;
				padding:10px;
				
			}
.left_side article{
					border:1px solid #444;
					border-radius:25px;
					margin-right:10px;
					padding:10px;
					height:1286px;
				}
.left_side article h2{
					font-size:40px;
					text-align:center;
				}
.logo{
		float:left;
	}
.para1{
		padding-left:235px;
		padding-right:5px;
		line-height:30px;
		font-family:sans-serif;
	}
.left_side article p{
					line-height:28px;
					padding-right:5px;
					font-family:sans-serif;
				}
.left_side article h4{
					font-size: 25px;
				}	

.right_side div h2{
					font-size:35px;
				}
.right_side div article h5{
						font-size:20px;
					}
.right_side div article h5 a{
							text-decoration:none;
							color:#444;
					}
.right_side div article h5 a:hover{
								text-decoration:none;
								color:white;
							}
.right_side div article footer a{
							text-decoration:none;
							color:black;
							border:2px solid teal;
							background-color:white;
							padding: 6px 20px;
							text-align: center;
							border-radius:8px;
						}	
.right_side div article footer a:hover{
								text-decoration:none;
								color:white;
								background-color:teal;
								
							}								
.page_footer{
				height:160px;
				clear:both;
				text-align:center;
				background-color:#ddd;
				padding-top:50px;
				font-size:20px;
}
@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }